<div align="center">
<h2>Your Search Results:</h2>
</div>
<div id="#discover_search" align="right">
  <%= button_to "Discover Top 40 Movies!", movies_path, method: :get %>
<%= form_with url: movies_path, method: :get, local: true do |f| %>
  <%= f.text_field :movie_search, placeholder: "Search By Movie Title", required: true %>
  <%= f.submit 'Find Movies' %>
  </div>
<% end %><br>

<% if @movies.empty? %>
  <p><center><%= "No Search Results Found 😿" %></center></p>
<% else %>
  <div class="container">
    <div class="row">
  <% @movies.each_with_index do |movie, index| %>
    <div class="col-sm">
    <div id="movie-<%= index %>">
      <img src="https://image.tmdb.org/t/p/w300<%= movie.poster %>" >
      <h4><%= link_to "#{movie.title}", movie_path(movie.id) %> </h4>
      <p>Vote Average: <%= movie.vote_average %></p><br>
      </div>
    </div>
  <% end %>
  </div>
  </div>
<% end %>
