<br>
<center><h2><%= @movie.title %></h2></center>
<% if @trailer %>
  <center><iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @trailer %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center><br>
<% else %>
  <center><img src="https://image.tmdb.org/t/p/w300<%= @movie.poster %>" ></center><br>
<% end %>


  <div class="row" align="center">
    <div class="col">
      <%= button_to "Create a Viewing Party For This Movie!", new_party_path, method: :get, params: {id: @movie.id} %><%= button_to "Not The One? Check Out Similar Moives!", movies_path, method: :get, params: {recommendation_id: @movie.id}%>
    </div>
  </div>
<hr>
<br>
<p><b>Summary: <%= @movie.summary %></b></p>

<div class="row">
  <div class="col">
    <p>Vote Average: <%= @movie.vote_average %></p>
  </div>
  <div class="col">
    <p>Runtime: <%= @movie.runtime %> minutes</p>
  </div>
  <div class="col">
    <p>Genre(s): <%= @movie.genre_names %></p>
  </div>
</div>
<hr>
<p>Cast: <% @cast_members.each do |cast_member| %></p>
  <ul>
  <li><p><%= cast_member.name %> as
  <%= cast_member.role %></p>
  </ul>
<% end %>
<hr>
<h5><%= @reviews.count %> Reviews:<% @reviews.each do |review| %></h5>
  <p>Author: <%= review.author %></p>
  <p><%= review.content %></p>
<% end %>
<hr>
