<img src="https://image.tmdb.org/t/p/w300<%= @movie.poster %>" >
<p>Title: <%= @movie.title %></p>
<p>Vote Average: <%= @movie.vote_average %></p>
<p>Runtime: <%= @movie.runtime %> minutes</p>
<p>Summary: <%= @movie.summary %></p>
<p>Genre(s): <%= @movie.genre_names %></p>
