<section class="py-5 text-center container">
<h1>Register for an Account</h1>
<%= bootstrap_form_with url: users_path, method: :post, local: true do |f| %>
  <%= f.text_field :email %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit 'Register' %>
<% end %>

<p><%= link_to "Already Registered? Login Here", root_path %></p>
</section>
